<div class="designjourney_container">
    <div class="design_form">
        <form id="design_details" action="/" method="get">
            <div class="steps" style="text-align:center;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>

            <div class="tab">
                <p class="main">
                    To get the most out of the experts here at <span class="chadwk">chadwk</span> we have a quick survey to
                    assess you, or your businesses, needs.
                </p>
                <div class="center_block">
{#                    <a class="btn--center" href="#">#}
{#                        <button type="button" id="nextBtn" onclick="nextPrev(1)">#}
{#                            Let's get started#}
{#                        </button>#}
{#                    </a>#}
                </div>
            </div>

            <div class="tab">
                <h2>Your Details</h2>
                Name:
                <p><input placeholder="Placeholder" oninput="this.className = ''"></p>
            </div>

            <div class="tab">
                Contact Info:
                <p><input placeholder="Placeholder" oninput="this.className = ''"></p>
            </div>

            <div class="tab">
                <p><input placeholder="Placeholder" oninput="this.className = ''"></p>
            </div>

            <div class="tab">
                <p><input placeholder="Placeholder" oninput="this.className = ''"></p>
            </div>

            <div class="center_block">
                <div style="float:right;">
                    <button type="button" id="prevBtn" class="btn--center" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" class="btn--center" onclick="nextPrev(1)">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>