<div class="designjourney_container">
    <p>
        {{ message }}
    </p>

    <div class="themes">
        <label for="businessSize">{{ businessSize.label }}</label>
        <select id="businessSize">
            <option data-img-src='/wp-content/plugins/design_journey/view/images/image_picker/individual.png' value='individual'>
                Individual
            </option>
            <option data-img-src='/wp-content/plugins/design_journey/view/images/image_picker/small_business.png' value='sme'>
                Small/Medium
            </option>
            <option data-img-src='/wp-content/plugins/design_journey/view/images/image_picker/enterprise.png' value='enterprise'>
                Enterprise
            </option>
            <option data-img-src='/wp-content/plugins/design_journey/view/images/image_picker/question_mark.png' value='not_sure'>
                Not sure
            </option>
        </select>
    </div>
</div>